/*section hero*/
.hero {
  background-color: #ebebeb;
  color: #161616;
  /*center container*/
  display: flex;
  justify-content: center;
}

.hero__container {
  width: 100%;
  max-width: 1200px;
  margin: 0;
}

.hero__picture {
  background-color: #002b23;
}

.hero__picture::before {
  background-image: url('../../public/images/header-chess.png');
  height: 99%;
}

.hero__title {
  font-size: 3rem;
  color: #002b23;
}

/*line*/
.hero__title::before{
  background-color: #004237;
}

.hero__texts {
  background-color: rgba(255, 255, 255, 0.7);
}

.hero__cta {
  background-color: #004237;
  color: #fff;
  box-shadow: 0 10px 10px -8px #808080;
}

.hero__cta:hover {
  background-color: #006352;
}

@media (min-width:768px) {
  /*section hero*/
  .hero__container{
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hero__picture {
    width: 340px;
    height: 280px;
  }

  .hero__picture::before {
    height: 100%;
    top: -20px;
    right: 20px;
  }

  .hero__texts {
    background-color: transparent;
  }
}