.nav {
  background-color: #004237;
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center; /*cross align*/
  gap: 1em;
  max-width: 1200px;
  color: #fff;
}

.nav__title {
  font-weight: 100;
  font-size: 1.75rem;
}

.brand__title__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:first-of-type {
  margin-left: auto;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  color: #a9fddb;
}