.chess {
  background-color: #020202;
  color: #fff;
  /*center container*/
  display: flex;
  justify-content: center;
}

.chess__container {
  width: 100%;
  max-width: 1200px;
  margin: 0;
}

.chess__picture {
  background-color: #000;
}

.chess__picture::before {
  background-image: url('../../public/images/section-chess.png');
  height: 100%;
}

.chess__title {
  font-size: 2.5rem;
  font-family: "Georgia", serif;
}

.chess__title::before{
  background-color: #fff;
}

.chess__texts {
  background-color: rgba(0, 0, 0, 0.7);
}

.chess__cta {
  background-color: #fff;
  color: #000;
  box-shadow: 0 8px 8px -8px #9b9b9b;
}

.chess__cta:hover {
  background-color:#d1faea;
}

@media (min-width:768px) {
  .chess__container{
    display: flex;
  }

  .chess__texts {
    margin: 48px 118px 0px auto;
    align-self: center;
    background-color: #020202;
  }

  .chess__picture {
    width: 600px;
    height: 400px;
  }
}