/* Games */
.games{
  padding: 50px 0 70px;
  background-color: #ebebeb;;
  color: #161616;
  display: flex;
  justify-content: center;
}

.games__container {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games__title{
  text-align: center;
  margin-bottom: 40px;
}

.games__items {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  flex-wrap: wrap;
}

@media (min-width:768px) { 
  .games__page {
    padding-bottom: 400px;
  }

  .games__items {
    flex-direction: row;
    gap: 60px;
  }
}