.nav--game {
  background-color: #002b23;
}

.nav__container--game {
  height: 40px;
  justify-content: center;
}

.nav__title--game {
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

@media (min-width:768px) {
  .nav__title--game {
    font-size: 1.5rem;
  }
  
  .nav__container--game {
    height: 60px;
  }
}